@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
.titulos {
  font-family: Montserrat;
  background-color: #364c59;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

.texto {
  color: white;
  font-family: Montserrat;
}

body {
  background-color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: 0.7s;
  padding: 30px 20px;
  z-index: 10;
}

header.abajo {
  background: #364c59;
  padding: 15px 20px;
}

header .logo {
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 2px;
  transition: 1.5s;
  text-decoration: none;
  width: 300px;
  height: 90px;
}

.header-difuminado {
  display: flex;
  height: 8rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  filter: blur(10px);
  -webkit-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.linkeado {
  font-family: "Montserrat";
  text-transform: uppercase;
}

.logo-uda {
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
}

header ul li a {
  position: relative;
  font-family: helvetica;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 600;
  transition: 0.7s;
}

.zona1 {
  position: relative;
  width: 100%;
  height: 90vh;
  background: url(../img/_ALX9328.JPG);
  background-size: cover;
  background-position: center center;
}

header.abajo .logo,
header.abajo ul li a {
  color: white;
}

.carrusel {
  height: 800px;
}

/*Ex alumnos recientes*/
.recientes {
  width: 100%;
  height: 500px;
  background-color: white;
  margin-bottom: 6rem;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 3rem 3rem 3rem 3rem;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: Montserrat;
}

.flip-card-inner h1 {
  padding: 1rem;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  font-family: Montserrat;
}

.flip-card-front h1 {
  margin: 1rem 0;
  font-size: larger;
}

.flip-card-back {
  background-color: #364c59;
  color: white;
  transform: rotateY(180deg);
}

.calendario {
  width: 100%;
  height: auto;
  background-color: white;
}

.boton-calendario {
  background-color: #364c59;
  color: #364c59;
}

.boton-calendario:hover {
  background-color: #364c59;
}

.tarjetas {
  padding: 4rem 0;
}

.card1 {
  width: 300px;
  height: 100px;
  margin: 3rem 0;
}

.ubicacion {
  padding: 0;
  margin: 0;
  justify-content: center;
}

.ubicacion img {
  width: 10%;
}

.ubicacion h5 {
  padding: 10px 0 0 0.5rem;
}

.horario p {
  margin-bottom: 0;
  padding: 0;
}

.fecha {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  text-align: center;
}

.dia {
  background-color: #364c59;
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  justify-content: end;
  text-align: end;
}

.dia p {
  font-size: 1.5rem;
  color: white;
  font-family: Montserrat;
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  font-weight: 500;
}

.mes {
  background-color: #364c59;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  padding: 0 0.4rem;
  text-align: center;
  justify-content: center;
}

.mes p {
  padding: 0.5rem;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
}

.ini {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.ini img {
  width: 10%;
}

.ini p {
  padding: 2px 0 0 0.5rem;
}

.fin {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.fin img {
  width: 10%;
}

.fin p {
  padding: 2px 0 0 0.7rem;
}

/*Formulario*/
.formulario-caja {
  margin: auto;
  width: 100%;
  height: auto;
  background-color: white;
  font-family: Montserrat;
}

/*FOOTER*/
.contenedor-footer {
  background-color: #364c59;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 4rem 8rem;
  font-family: Montserrat;
}

.footer-logo img {
  width: 300px;
  height: 90px;
}

.acerca, .footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acerca li, .footer-logo li {
  list-style: none;
  padding: 0;
}

.acerca li a, .footer-logo li a {
  color: white;
  text-decoration: none;
  font-size: medium;
}

.acerca li a:hover, .footer-logo li a:hover {
  color: black;
}

.acerca h4 {
  font-size: 1.5rem;
  margin: 0;
  margin-left: 1rem;
  color: white;
  text-decoration: underline;
}

.mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 0 10rem;
}

.mapa iframe {
  border-radius: 2rem;
  width: 16rem;
  height: 12rem;
  padding-top: 0rem;
  margin: 0;
}

/*Copyright*/
.copyright {
  border-top: 1px solid black;
  justify-content: center;
  display: flex;
  background-color: #364c59;
  align-items: center;
  padding: 0rem 8rem;
  color: white;
  font-family: Montserrat;
}/*# sourceMappingURL=index.css.map */